<div class="component-container">
  <div class="select-container">
    <div class="select-content">
      <label class="label" for="products">Category:</label>
      <select id="categories" name="categories" (change)="onCategoryChange($event)">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="select-content">
      <label class="label" for="products">Product:</label>
      <select id="products" name="products" (change)="onProductChange($event)">
        <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
      </select>
    </div>
    <div class="select-content">
      <label class="label" for="brands">Brand:</label>
      <select id="brands" name="brands" (change)="onBrandChange($event)">
        <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
      </select>
    </div>
  </div>
  <div class="graph-content">
    <canvas class="graph"
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
</div>
</div>
