<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list class="custom-nav-list">
      <a mat-list-item href="#" class="custom-nav-link">Home</a>
      <a mat-list-item href="#" class="custom-nav-link">Cadastro de Venda</a>
      <a mat-list-item href="#" class="custom-nav-link">Cadastro de Usuário</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="letterIcon">U</div>
      <label>User</label>
      <span class="title">Sales Report</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
